# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    env:
      NODE_ENV: production
      BOT_SECRET: ${{ secrets.BOT_SECRET }}
      PROVIDER_API_KEY: ${{ secrets.PROVIDER_API_KEY }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      FILE_PATH: ${{ vars.FILE_PATH }}
      TELEGRAM_BOT_WHITELIST: ${{ vars.TELEGRAM_BOT_WHITELIST }}

    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - name: Enable Corepack (pnpm)
      run: |
        corepack enable
        corepack prepare pnpm@8.15.0 --activate
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    - name: Build
      run: pnpm run build --if-present
    - name: Lint
      run: pnpm run lint --if-present
    - name: Test (if present)
      run: pnpm run test --if-present
